:root {
  --primary-color: #49C6E5;
  --secondary-color: #54DEFD;
  --background-color: #FFFBFA;
  --success-color: #00BD9D;
  --error-color: #bd003f;
  --small-screen-small-text: 0.8rem;
  --small-screen-large-text: 1rem;
  --gap: 2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", Helvetica, sans-serif;
}

body {
  background-color: var(--background-color);
}

/* utilities */
.mtb-1 {
  margin: calc(var(--gap) * 0.25) 0;
}

.mtb-2 {
  margin: calc(var(--gap) * 0.50) 0;
}

.mtb-3 {
  margin: calc(var(--gap) * 0.75) 0;
}

.mtb-4 {
  margin: calc(var(--gap)) 0;
}

.mb-1 {
  margin-bottom: calc(var(--gap) * 0.25);
}

.mb-2 {
  margin-bottom: calc(var(--gap) * 0.50);
}

.mb-3 {
  margin-bottom: calc(var(--gap) * 0.75);
}

.mb-4 {
  margin-bottom: var(--gap);
}

.bold {
  font-weight: bold;
}

/* forms and inputs */
label {
  font-size: 1.1rem;
}

input:not([type="checkbox"]),
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 1px hsla(0, 0%, 0%, 0.2), 0px 1px 2px hsla(0, 0%, 0%, 0.2);
  border: none;
  border: none;
  min-width: 12rem;
  max-height: 4rem;
  min-height: 4rem;
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 0.25);
}

.input-form label,
.input-form input {
  width: 100%;
}

.input-form label {
  font-weight: bold;
  font-size: 1.2rem;
}

.input-form input {
  padding: 12px;
  border-radius: 8px;
}

.btn {
  background-color: var(--success-color);
  cursor: pointer;
}

.btn:hover {
  background-color: #008F77;
}

a.btn-link,
a.btn-link:visited {
  display: inline-block;
  background-color: var(--success-color);
  padding: 1rem 2rem;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 0px 1px hsla(0, 0%, 0%, 0.2), 0px 1px 2px hsla(0, 0%, 0%, 0.2);
}

.error-message {
  width: 100%;
  background-color: var(--error-color);
  border-radius: 8px;
  color: white;
  padding: 25px;
  margin: 8px 0;
}

.input-error-message {
  color: var(--error-color);
}

table {
  border-collapse: collapse;
  box-shadow: 0px 0px 1px hsla(0, 0%, 0%, 0.2), 0px 1px 2px hsla(0, 0%, 0%, 0.2);
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #d3d3d3;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}

.icon {
  /* display: inline-block; */
  fill: black;
}