.person {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 16px 24px;
  width: 100%;
}

.profile-info {
  font-size: 1.3rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.profile-info-items {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

@media screen and (max-width: 1200px) {
  .person {
    flex-direction: column;
    align-self: self-start;
  }

  .profile-image {
    align-self: center;
  }

  .person-name {
    text-align: center;
  }

  .profile-info-items {
    flex-direction: column;
    gap: 0.25rem;
  }

  .astronaut-item {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .btn-person-view {
    align-self: center;
  }
}

.profile-image {
  width: 12rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(90deg, #00BD9D, #54DEFD);
}

.astronaut-duties {
  width: 100%;
}

@media screen and (max-width: 492px) {
  .profile-info {
    font-size: 1rem;
  }

  .astronaut-duties {
    font-size: 0.8rem;
  }
}