<h1>People</h1>
<a class="btn btn-link mtb-4" routerLink="/add-person">Add New Person</a>
<table class="people table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>Title</th>
      <th>Career Start Date</th>
      <th>Career End Date</th>
    </tr>
  </thead>
  <tbody>
    @for (person of people; track person.name) {
    <tr>
      <td><a [routerLink]="['/person', person.name]">{{person.name}}</a></td>
      <td>{{person.currentRank}}</td>
      <td>{{person.currentDutyTitle}}</td>
      <td>{{person.careerStartDate | date }}</td>
      <td>{{person.careerEndDate | date }}</td>      
    </tr>
    }
  </tbody>
</table>